h1{
    text-align: center;
    background-color: aqua;
    border: 8px solid black;
}

nav ul {
    background-color: greenyellow;
    height: 25px;
    border: 3px solid black;
}
nav ul li {
    float: right;
    width: 18%;
}

.Secciones::after{

    clear: both;
    content: "";
    display: table;

}

.rig{
    grid-area: r;
    display: flex;
    justify-self: right;
    flex-flow: column;
    margin: auto;
    border: 2px solid black;
}
.left{
    grid-area: l;
    justify-content: left;
    margin: 1em;
}

#f1{
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 10px;
    grid-template-rows: auto ;
    grid-template-areas: "l r"
                         "l r";
}



ol{
    font-size: 20px;
}