.Nombre{
    text-align: center;
    background-color: aqua;
    border: 8px solid black;

}

nav ul {
    background-color: wheat;
    height: 25px;
    border: 3px solid black;
}
nav ul li {
    float: right ;
    width: 18%;
    
}

.Secciones::after{
    clear: both;
    content: "";
    display: table;

}

.Otros{
    text-align: center;
}

.medicinas{
    display: flex;
    justify-content: center;
    gap: 200px; 
    flex-wrap: wrap; 
    padding: 20px;

}

.medicinas2{
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
    padding: 20px;

}

.medica {
    display: flex;
    justify-content: center;
    max-width: 100%;
    border-radius: 8px;
}

.Producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 220px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.precio {
    font-size: 16px;
    color: lightsalmon;
    font-weight: bold;
}






